.cualidades{
  display:flex;
  justify-content: center;
  display: block;
  align-items: center;
  margin: 25px;
  padding: 10px;
  background-color: #b4b7b8;

}

.error{
  display:flex;
  justify-content: center;
  display: block;
  align-items: center;
  margin: 150px;
  padding: 10px;
  max-width: 100%;
  background-color: #ec624f;

}

.textError{
  text-align: center;
}

.containerTT {
  display:flex;
  flex-direction: row;
  justify-content: center;


}

.sesiones{
  
  background-color: rgb(255, 255, 255);
  
}

@media (max-width: 768px) {
  .sesiones{
    margin-left: 0;
  }
  .containerTT{
    flex-direction: column;
  }
  .ContenedorTT2{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
  .container{
    background-color: #81cdeb;
    max-width: 100%;

}

  .cualidades{
    background-color: #81cdeb;
    max-width: 100%;
  }
  



}









